[submodule "vendor/ohmyzsh"]
	path = vendor/ohmyzsh
	url = https://github.com/n45h4n/ohmyzsh.git
[submodule "vendor/kickstart.nvim"]
	path = vendor/kickstart.nvim
	url = https://github.com/n45h4n/kickstart.nvim.git
