[submodule "vendor/ohmyzsh"]
	path = vendor/ohmyzsh
	url = git@github.com:n45h4n/ohmyzsh.git
[submodule "vendor/kickstart.nvim"]
	path = vendor/kickstart.nvim
	url = git@github.com:n45h4n/kickstart.nvim.git
